<div class="home__container">
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="Digital"
        gameType="DIGITAL | PS4"
        gamePrice="129,00"
    ></app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS5"
        gamePrice="229,00"
    ></app-card>
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="DIGITAL | PS3 PS2"
        gamePrice="229,00"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS3 PS2"
        gamePrice="229,00"
    ></app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Digital"
        gameType="DIGITAL | PS3 PS2"
        gamePrice="229,00"
    ></app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Best Seller"
        gameType="DIGITAL | PS3 PS2"
        gamePrice="229,00"
    ></app-card>
</div>
